.hacker-app-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    div:not(.editor) {
        display: flex;
        gap: 1rem;
        align-items: center;

        label {
            width: 20%;
        }
        input {
            width: 80%;
        }
    }
}

@media (max-width: 768px) {
    .hacker-app-form {
        div:not(.editor) {
            flex-direction: column;
            gap: 0.5rem;
            justify-content: center;

            label {
                width: 100% !important;
            }
            input {
                width: 100% !important;
            }
        }
    }
    select {
        width: 100% !important;
    }
}

select {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    outline: none;
    width: 80%;
    appearance: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;

    transition: background-color .3s ease, border-color .3s ease;
}
html.dark {
    select {
        background-color: theme('colors.dark3');
        color: #eee;

        &:hover {
            border-color: theme('colors.accent');
        }
        option {
            &:hover {
                background-color: theme('colors.accent');
            }
        }
    }
}
html.light select {
    background-color: #fcfcfc;
    color: #333;
    border-color: rgb(209, 213, 219);

    &:hover {
        border-color: theme('colors.accent');
    }
    option {
        &:hover {
            background-color: theme('colors.accent');
        }
    }
}
