.event {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  color: theme("colors.textlight") !important;
  text-overflow: ellipsis;

  &.mainEvent {
    background-color: #bfdbfe;
  }
  &.meal {
    background-color: #fbcaca;
  }
  &.workshop {
    background-color: #bbf7cf;
  }
  &.sponsor {
    background-color: #e9d5ff;
  }
  &.activity {
    background-color: #fef9c3;
  }
}

@media screen and (max-width: 768px) {
  .event {
    overflow-y: scroll;
  }
}

.toggle {
  button {
    text-align: center;
    cursor: pointer;
    padding: 1rem;

    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten(#558ca9, 10%);
    }
  }
}

.fullScreen {
  position: absolute;
  z-index: 25;

  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  overflow-y: scroll;
}

html.light .toggle {
  border: 2px solid theme('colors.light2');

  button {
    &.dateActive {
      background-color: #E4E7EB;
    }
  }
}

html.dark .toggle {
  border: 2px solid theme('colors.dark1');

  button {
    border-right: 2px solid theme('colors.dark1');
    &.dateActive {
      background-color: theme('colors.dark3');
    }
  }
}

html.dark .scheduleContainer::-webkit-scrollbar {
  width: 12px;
}

html.dark .scheduleContainer::-webkit-scrollbar-track {
  background: #232730;
}

html.dark .scheduleContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;

  &:hover {
    background: #555;
  }  
}