.modal-overlay {
   backdrop-filter: blur(2px);
}

html.light {
    .modal {
        border: 2px solid theme('colors.light2')
    }
}

.modal {
    border: 2px solid theme('colors.dark1');
    overflow-y: auto;
    max-height: 700px;
}

.close-button {
    color: #9999AA;
    transition: color 0.3s ease;
    &:hover {
        color: #fff;
    }
    
}