@import '../../styles.scss';

.popup {
    margin: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    transition: opacity .3s ease, transform .2s ease, margin-top .3s ease;

    &.open {
        opacity: 1;
    }
    &.close {
        opacity: 0;
        transform: scale(0.8);
        pointer-events: none;
        cursor: default;
        user-select: none;
    }
    
    .link {
        padding: 1rem;
        width: 100%;
        background-color: theme('colors.dark3');
        align-items: center;
        display: flex;
        gap: 1rem;
        color: #eee;
        transition: background-color .3s ease;
        cursor: pointer;
        border: none;

        &:hover {
            background-color: theme('colors.dark2');
            border: none;
            background-size: 0;
        }
        &.active {
            color: lighten($accent, 10%);
        }
    }
}

html.dark {
    .navbar-desktop {
        background-color: lighten($dark2, 3%);
        border-right: 2px solid $dark1;

        .links a {
            color: rgba(255, 255, 255, 0.7);

            &.active {
                color: $accent;
            }
        }
    }
    .popup {
        background-color: theme('colors.dark3');
        border: 2px solid theme('colors.dark1');    
    }
}
html.light {
    .navbar-mobile {
        background-color: #f3f4f6;
        border-bottom: 2px solid theme('colors.light2');
    }
    .navbar-desktop {
        background-color: #f3f4f6;
        border-right: 2px solid theme('colors.light2');

        .links a {  
            color: theme('colors.textlight');

            &:hover {
                background-color: darken(#f3f4f6, 5%);
            }
            &.active {
                background-color: darken(#f3f4f6, 5%);
                color: darken($accent, 10%);
            }
        }
    }
    .popup {
        background-color: #e4e7eb;
        border: 2px solid rgb(209, 213, 219);
        box-shadow: none;

        .link {
            background-color: #e4e7eb;
            color: theme('colors.textlight');

            &:hover {
                background-color: darken(#e4e7eb, 5%);
            }
            &.active {
                color: $accent;
            }
        }
    }
}

.navbar-desktop {
    height: 100vh;
    flex: 0 0 20vw;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    h3 {
        color: #eee;
    }
    position: sticky;
    top: 0;

    .links a {
        width: 90%;
        display: block;
        padding: 0.75rem 1.25rem;
        margin-left: 5%;
        margin-right: 5%;
        text-decoration: none;
        align-items: center;
        display: flex;
        margin-bottom: 0.25rem;
        border-radius: 5px;
        gap: 1rem;
        transition: background-color .3s ease, color .3s ease;
        background-size: 0px 0px;

        &:hover {
            background-color: darken($dark2, 3%);
            color: rgba(255, 255, 255, 0.9);
        }

        &.active {
            background-color: darken($dark2, 3%);
            color: lighten($accent, 10%);
        }
    }

    .account-popup {

        &.close {
            transform-origin: bottom;
        }
    }
}

.navbar-mobile {
    display: none;
    background-color: lighten($dark2, 2%);
    border-bottom: 2px solid $dark1;
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    z-index: 3;

    .ham-menu {
        position: fixed;
        right: 0;
        top: 2.5rem;
        min-width: 10rem;

        &.close {
            transform-origin: top right;
        }
        .link {
            &:focus {
                color: lighten($accent, 10%);
            }
            padding: 0.75rem 1rem;
        }
    }
}

@media (max-width: 768px) {
    .navbar-desktop {
        display: none;
    }
    .navbar-mobile {
        display: block;
    }
}