@import '../../styles.scss';

.sidebar {
    background-color: lighten($dark2, 3%);
    height: 100vh;
    border-right: 2px solid $dark1;
    width: 17%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;

    .links a {
        width: 90%;
        color: rgba(255, 255, 255, 0.7);
        display: block;
        padding: 0.75rem 1.25rem;
        margin-left: 5%;
        margin-right: 5%;
        text-decoration: none;
        align-items: center;
        display: flex;
        margin-bottom: 0.25rem;
        border-radius: 5px;
        gap: 1rem;
        transition: background-color .3s ease, color .3s ease;
        background-size: 0px 0px;

        &:hover {
            background-color: darken($dark2, 3%);
            color: rgba(255, 255, 255, 0.9);
        }

        &.active {
            background-color: darken($dark2, 3%);
            color: lighten($accent, 10%);
        }
    }

    .account-popup a, .account-popup button {
        color: #EEEEEE;
        cursor: pointer;
        background: none;
        font-size: 1rem;
        display: block;
        padding: 0;
    }
}