.event {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  color: theme("colors.textlight") !important;
  text-overflow: ellipsis;

  &.mainEvent {
    background-color: #bfdbfe;
  }
  &.meal {
    background-color: #fbcaca;
  }
  &.workshop {
    background-color: #bbf7cf;
  }
  &.sponsor {
    background-color: #e9d5ff;
  }
  &.activity {
    background-color: #fef9c3;
  }
}

@media screen and (max-width: 768px) {
  .event {
    overflow-y: scroll;
  }
}

.toggle {
  button {
    width: 33.33333%;
    text-align: center;
    background-color: theme("colors.accent");
    color: theme("colors.white");
    cursor: pointer;
    padding: 1rem;

    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten(#558ca9, 10%);
    }

    &.dateActive {
      background-color: lighten(#558ca9, 10%);
    }
  }

}

html.dark .scheduleContainer::-webkit-scrollbar {
  width: 12px;
}

html.dark .scheduleContainer::-webkit-scrollbar-track {
  background: #232730;
}

html.dark .scheduleContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;

  &:hover {
    background: #555;
  }  
}