@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Regular.woff');
}

/* div {
  border: 1px solid red;
} */

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image: radial-gradient(#777 1px, transparent 0), linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,0,65,1) 40%, rgba(0,93,112,1) 100%);
  /* background-size: 40px 40px; */
  background-position: -19px ;
  background-attachment: fixed;
  color: #E6E6E7;
}

h1 {
  font-weight: normal;
}